
<h3><%= product.name %></h3>
<p><%= truncate(product.description, length: 100) %></p>
<p><%= product.formatted_price %></p>
<ul>
	<li><%= link_to 'Show', product %></li>
	<li><%= link_to 'Edit', edit_product_path(product) %></li>
	<li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>


