<h1>Listing products</h1>
<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price in Cents</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render partial: @products %>

</table>

<div id="products">
</div>


<br />

<%= link_to 'New Product', new_product_path %>

